<div class="page-header">
    <div class="row align-items-md-center">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5">
                    <nz-input-group [nzPrefix]="searchPrefix">
                        <input type="text" nz-input placeholder="Search Project" [(ngModel)]="searchInput" (ngModelChange)="search()">
                    </nz-input-group>
                    <ng-template #searchPrefix>
                        <i class="opacity-04" nz-icon nzType="search"></i>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-md-right m-v-10">
                
                <button nz-button nzType="primary" (click)="showNewProject(newProjectContent)" *ngIf="role=='User'">
                    <i nz-icon nzType="plus"></i>
                    <span>New Demande</span>
                </button>  
                <ng-template #newProjectContent>
                    <form nz-form nzLayout="vertical" [formGroup]="demandeForm" (ngSubmit)="submitForm()">
                        <nz-form-item>
                            <nz-form-label>Localisation</nz-form-label>
                            <nz-form-control nzErrorTip="Please input your localisation!">
                            <nz-form-control >
                                <input type="text" formControlName="localisation" nz-input placeholder="Please input   Localisation">
                            </nz-form-control>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            
                            <nz-form-label>Nature du problème,</nz-form-label>
                            <nz-form-control nzErrorTip="Please input your description!">
                            <nz-form-control >
                                <textarea formControlName="description" nz-input></textarea>
                            </nz-form-control>
                            </nz-form-control>
                        </nz-form-item>
                       
                        <nz-form-item>
                            <nz-form-label>Photo</nz-form-label>
                            <nz-form-control >
                                <input type="file" (change)="onFileSelect($event)" nz-input placeholder="Please input   Localisation">
                            </nz-form-control>
                        </nz-form-item>
                        <ng-container *ngIf="img">
                            <img [src]="img" alt="" width="100%">
                        </ng-container>
                        
                        <button nz-button class="login-form-button" [nzType]="'primary'">Sign In</button>
                    </form>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    
    <nz-card *ngIf="view == 'listView'">
        <nz-table #listViewTable [nzData]="projectList">
            <thead>
                <tr>
                    <th>Localisation</th>
                    <th>Description</th>
                    <th>User</th>
                    <th>Date de creation</th>
                    <th class="text-center">Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of demandeList">
                    <td>
                        <div class="media align-items-center">
                             <div class="m-l-10">
                                <h5 class="m-b-0"> {{item.localisation}}</h5>
                            </div>
                        </div>
                    </td>
                    <td>   {{item.description}}</td>
                    
                    <td>{{item.user.firstName}}  {{item.user.lastName}}</td>
                    <td>   {{item.createdAt |date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td class="text-center">
                          <nz-tag class="m-b-0" *ngIf="item.status == 'In Progress'" [nzColor]="'blue'">{{item.status}}</nz-tag>
                        <nz-tag class="m-b-0" *ngIf="item.status == 'Ready'" [nzColor]="'cyan'">{{item.status}}</nz-tag>
                        <nz-tag class="m-b-0" *ngIf="item.status == 'Behind'" [nzColor]="'red'">{{item.status}}</nz-tag>
                  
                   
                    </td>
                    <td class="text-right">
                        <div>
                            <a class="text-gray font-size-18" nz-dropdown nzPlacement="bottomRight" nzTrigger="click" [nzDropdownMenu]="projectListSetting2">
                                    <i nz-icon nzType="ellipsis" theme="outline"></i>
                                </a>
                                <nz-dropdown-menu #projectListSetting2="nzDropdownMenu">
                                    <ul nz-menu nzSelectable>
                                        <li nz-menu-item>
                                            <a [routerLink]="['/apps/demande-details', item.id]">
                                                <i nz-icon nzType="eye" theme="outline"></i>
                                                <span class="m-l-10">View</span>
                                            </a>
                                        </li>
                                         
                                        <li nz-menu-divider></li>
                                        <li nz-menu-item>
                                            <a>
                                                <i nz-icon nzType="delete" theme="outline"></i>
                                                <span class="m-l-10">Delete</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nz-dropdown-menu>
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-card>
</div>