<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <nz-card>
                <div class="d-flex justify-content-between">
                    <div class="media align-items-center">
                        <nz-avatar nzShape="square" nzSrc="assets/images/others/thumb-3.jpg"></nz-avatar>
                        <div class="m-l-10">
                            <h4 class="m-b-0">Localisation: </h4><p>{{demande.demande.localisation}}</p>
                        </div>
                    </div>
                    <div>
                        <nz-tag class="m-b-0" [nzColor]="'blue'">{{demande.demande.status}}</nz-tag>
                    </div>
                </div>
                <div class="m-t-40">
                    <h6>Description:</h6>
                    <p>
                        {{demande.demande.description}} </p>
                 </div>
                <div class="d-md-flex m-t-30 align-items-center justify-content-between">
                    <div class="d-flex align-items-center m-t-10">
 
                        
                    </div>
                    <div class="m-t-10">
                        <span class="font-weight-semibold m-r-10 m-b-5 text-dark">Due Date: </span>
                        <span>{{demande.demande.createdAt|date:'dd-MM-yyyy  HH:mm:ss'}}</span>
                    </div>
                </div>
                <div class="off-gutter-x m-t-30">
                    <nz-tabset>
                        <nz-tab nzTitle="Priorite">
                            <nz-form-item style="    display: block;
                            max-width: 79%;
                            margin-left: 8%;">
                                <nz-form-label nzFor="category">Priority</nz-form-label><br>
                                <nz-form-control  nzErrorTip="Please input this field!">
                                    <nz-select [(ngModel)]="selectedPriority"  class="w-100">
                                         <nz-option nzLabel="Low" nzValue="Low"></nz-option>
                                        <nz-option nzLabel="Medium " nzValue="Medium"></nz-option>
                                        <nz-option nzLabel="Critical" nzValue="Critical"></nz-option>
                                    </nz-select>
                                </nz-form-control><br>
                                <button nz-button nzType="primary" nzBlock (click)="onChangePriority()" *ngIf="role=='Admin'">Update</button>

                            </nz-form-item>
                        </nz-tab>
                        <nz-tab nzTitle="Equipe">
                            <div class="p-h-30 p-v-25">
                                <div class="m-b-25" *ngFor="let item of equipeList">
                                    <div (click)="handleChangeEquipe(item.id)">
                                    <label class="d-flex align-items-center" nz-checkbox [(ngModel)]="item.checked">
                                        <p class="m-b-0 d-inline-block">{{item.name}}  </p>
                                    </label>
                                </div>
                                </div>
                            </div>
                            <button nz-button nzType="primary" nzBlock (click)="updateEquipe()" *ngIf="role=='Admin'">Update</button>

                        </nz-tab>
                        <nz-tab nzTitle="Equipement">
                            <div class="p-h-30 p-v-25">
                                <div class="m-b-25" *ngFor="let item of equipementList">
                                    <div (click)="handleChangeEquipement(item.id)"> 
                                    <label class="d-flex align-items-center" nz-checkbox [(ngModel)]="item.checked">
                                        <p class="m-b-0 d-inline-block">{{item.name}}  </p>
                                    </label>
                                    </div>
                                </div>
                            </div>
                            <button nz-button nzType="primary" nzBlock (click)="updateEquipement()" *ngIf="role=='Admin'">Update</button>

                        </nz-tab>
                        <nz-tab nzTitle="Véhicule">
                            <div class="p-h-30 p-v-25">
                                <div class="m-b-25" *ngFor="let item of vehiculeList">
                                    <div (click)="handleChangeVehicule(item.id)">

                               
                                    <label class="d-flex align-items-center" nz-checkbox [(ngModel)]="item.checked" >
                                        <p class="m-b-0 d-inline-block" >{{item.name}}  </p>
                                    </label>
                                </div>
                                </div>
                            </div>
                            <button nz-button nzType="primary" nzBlock (click)="updateVehicule()" *ngIf="role=='Admin'">Update</button>

                        </nz-tab>
                    </nz-tabset>
                </div>
            </nz-card>
        </div>
        
    </div>
</div>